
<div class="card">

  <div class="po-row">
    <div class="po-md-12">
      <div class="po-row">
        <po-info class="po-md-2" p-label="Cód. Produto"
          [p-value]="produto.produto"></po-info>
        <po-info class="po-md-3" p-label="Descrição"
          [p-value]="produto.descricao"></po-info>
        <po-info class="po-md-2" p-label="Qtd. Solicitado"
          [p-value]="produto.qtdSc.toString()"></po-info>
        <po-info class="po-md-2" p-label="Valor Referência"
          [p-value]="produto.valRefSc.toString()"></po-info>
        <po-info class="po-md-1" p-label="Un.de Med"
          [p-value]="produto.um"></po-info>
        <po-info class="po-md-2" p-label="Data de Necessidade"
          [p-value]="produto.dtNecessidade.toString()"></po-info>
      </div>
    </div>
  </div>

  <po-divider></po-divider>

  <div class="po-row">
    <div class="po-md-12">
      <po-table [p-items]="itensFornecedores" [p-columns]="columsFornecedores"
        p-hide-columns-manager="true"
        p-container="border" p-actions-right="true" [p-actions]="actionsProduto"></po-table>
    </div>
  </div>

</div>