<div class="po-row">
  <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
    <po-table [p-items]="cotacoes" [p-columns]="columsCotacoes"
      p-hide-table-search="false" p-container="shadow"
      [p-sort]="true" [p-striped]="true" [p-actions]="actionsCotacao"
      p-actions-right="true">
    </po-table>
  </div>
  

  <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
    <po-divider></po-divider>
  </div>
  

  <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
    <po-table [p-items]="itensCotacao" [p-columns]="columsItens"
      p-hide-table-search="false" p-container="shadow"
      [p-sort]="true" [p-striped]="true">
    </po-table>
  </div>
</div>

<po-modal #modalAnalises p-title="Analisar Cotação" p-size="xl">
  <po-tabs #poTab>
    <po-tab p-label="Fornecedor" *ngIf="!definindoVencedor">
      <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
          <po-table [p-items]="fornecedores" [p-columns]="columsFornecedores"
            p-hide-table-search="false"
            p-container="shadow" [p-sort]="true" [p-striped]="true"
            [p-actions]="actionsPorFornecedor" p-actions-right="true">
          </po-table>
        </div>
      </div>
    </po-tab>

    <po-tab p-label="Produto">
      <div class="po-row m-t">
        <app-card-propostas-produtos [definindoVencedor]="definindoVencedor"></app-card-propostas-produtos>
      </div>
    </po-tab>
  </po-tabs>
</po-modal>

<po-modal #modalEditCotacao p-title="Editando Cotação" p-size="md">
  <po-datepicker name="datepicker" p-label="Data de Validade"> </po-datepicker>
  <po-modal-footer [p-disabled-align]="false">
    <po-button p-kind="primary" p-label="Confirmar"
      (p-click)="confirmarEdicao()"> </po-button>
  </po-modal-footer>
</po-modal>

<po-modal #modalPropostasFornecedores p-title="Propostas do Fornecedor XPTO"
  p-size="xl">
  <app-card-cotacao [controleCotacao]="false"></app-card-cotacao>

  <po-modal-footer>
    <po-button p-label="Ver Solicitação da Compra" p-icon="an an-eye">
    </po-button>
    <po-button p-label="Ver todos Anexos" p-icon="an an-eye"> </po-button>
    <po-button p-label="Exportar" p-kind="primary" p-icon="an an-microsoft-excel-logo">

    </po-button>
  </po-modal-footer>
</po-modal>