<po-tabs>
  <po-tab p-label="Análise por Fornecedor">
    <po-table [p-items]="fornecedores" [p-columns]="columsFornecedores" p-hide-table-search="false" p-container="shadow"
      [p-sort]="true" [p-striped]="true">

      <ng-template p-table-row-template let-rowItem let-i="rowIndex">
        <po-divider p-label="Cotações do Fornecedor"></po-divider>
        <po-table [p-items]="cotacoes" [p-columns]="columsCotacoes" p-hide-columns-manager="true" p-container="border"
          [p-sort]="true" [p-striped]="true">

          <ng-template p-table-row-template let-rowItem>
            <po-divider p-label="Itens da Cotação"></po-divider>
            <po-table [p-items]="itens" [p-columns]="columsItens" p-hide-columns-manager="true" p-container="border"
              [p-striped]="true">
              <ng-template p-table-row-template let-rowItem>
                <po-divider p-label="Propostas por item"></po-divider>
                <po-table [p-items]="propostas" [p-columns]="columsPropostas" p-hide-columns-manager="true" p-container="border"
                  [p-striped]="true">
                </po-table>
              </ng-template>
            </po-table>
          </ng-template>

        </po-table>
      </ng-template>

    </po-table>
  </po-tab>
  <po-tab p-label="Análise por Produto">

  </po-tab>
  <po-tab p-label="Propostas Vencedoras">

  </po-tab>
</po-tabs>

<po-divider></po-divider>

<div class="po-row">
  <div class="po-xl-4 po-lg-4 po-md-6 po-sm-12">
    <po-button p-label="Exportar em Excel" p-icon="ph ph-export">
    </po-button>
  </div>
</div>

<po-modal #gerenciarProposta p-title="Gerenciar Proposta" [p-primary-action]="save" [p-secondary-action]="close"
  p-icon="ph ph-gear">
  <po-tabs>
    <po-tab p-label="Validação de Proposta">
      <div class="po-row">
        <div class="po-xl-4 po-lg-4 po-md-6 po-sm-6">
          <po-radio-group name="radioAprovacao" p-label="Prosposta Validada?  " [p-options]="[
                                                                                          { label: 'Sim', value: 'sim' },
                                                                                          { label: 'Não', value: 'nao' }
                                                                                        ]">
          </po-radio-group>
        </div>
      </div>
    </po-tab>
    <po-tab p-label="Alterar Dados">
      <div class="po-row">
        <div class="po-xl-4 po-lg-4 po-md-6 po-sm-6">
          <po-datepicker name="dataVencimento" p-label="Data de Vencimento"></po-datepicker>
        </div>
      </div>
    </po-tab>
  </po-tabs>
</po-modal>

<po-modal #parecer p-title="Parecer" p-icon="ph ph-checks">
  <po-table [p-items]="itensParecer" [p-columns]="columsParecer" p-hide-table-search="false">
    <ng-template p-table-row-template let-rowItem let-i="rowIndex">
      <po-table [p-items]="itensAnexos" [p-columns]="columsAnexos" p-hide-columns-manager="true">
      </po-table>
    </ng-template>
  </po-table>
</po-modal>

<po-modal #anexos p-title="Anexos" p-icon="ph ph-paperclip">
  <po-table [p-items]="itensAnexos" [p-columns]="columsAnexos" p-hide-columns-manager="true">
  </po-table>
</po-modal>
