<po-tabs>
  <po-tab p-label="Análise por Fornecedor">

    <div class="po-row">
      <div class="po-xl-10 po-lg-10 po-md-10 po-sm-10">
        <po-table [p-items]="fornecedores" [p-columns]="columsFornecedores" p-hide-table-search="false"
          p-container="shadow" [p-sort]="true" [p-striped]="true" [p-actions]="actions" p-actions-right="true">
        </po-table>
      </div>
      <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2 align-all-center">
        <div class="po-row">
          <po-widget class="po-lg-12 po-mt-12" p-title="Total Fornecedores" [p-height]="200">
            <div class="po-font-subtitle po-text-center">4</div>
            <div class="po-text-center">Last updated at 08:20</div>
          </po-widget>
        </div>
      </div>
    </div>

    <po-divider></po-divider>

    <div class="po-row">
      <div class="po-xl-10 po-lg-10 po-md-10 po-sm-10">
        <po-table [p-items]="cotacoes" [p-columns]="columsCotacoes" p-hide-table-search="false" p-container="shadow"
          [p-sort]="true" [p-striped]="true" [p-actions]="actionsCotacao" p-actions-right="true">
        </po-table>
      </div>
      <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2 align-all-center">
        <div class="po-row">
          <po-widget class="po-lg-12 po-mt-12" p-title="Total Cotações" [p-height]="200">
            <div class="po-font-subtitle po-text-center">5</div>
            <div class="po-text-center">Last updated at 08:20</div>
          </po-widget>
        </div>
      </div>
    </div>

  </po-tab>
  <po-tab p-label="Análise por Produto">

    <div class="po-row">
      <div class="po-xl-10 po-lg-10 po-md-10 po-sm-10">
        <po-table [p-items]="produtos" [p-columns]="columsProdutos" p-hide-table-search="false" p-container="shadow"
          [p-sort]="true" [p-striped]="true" [p-actions]="actions" p-actions-right="true">
        </po-table>
      </div>
      <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2 align-all-center">
        <div class="po-row">
          <po-widget class="po-lg-12 po-mt-12" p-title="Total Produtos" [p-height]="200">
            <div class="po-font-subtitle po-text-center">4</div>
            <div class="po-text-center">Last updated at 08:20</div>
          </po-widget>
        </div>
      </div>
    </div>

    <po-divider></po-divider>

    <div class="po-row">
      <div class="po-xl-10 po-lg-10 po-md-10 po-sm-10">
        <po-table [p-items]="cotacoes" [p-columns]="columsCotacoes" p-hide-table-search="false" p-container="shadow"
          [p-sort]="true" [p-striped]="true" [p-actions]="actionsCotacao" p-actions-right="true">
        </po-table>
      </div>
      <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2 align-all-center">
        <div class="po-row">
          <po-widget class="po-lg-12 po-mt-12" p-title="Total Cotações" [p-height]="200">
            <div class="po-font-subtitle po-text-center">5</div>
            <div class="po-text-center">Last updated at 08:20</div>
          </po-widget>
        </div>
      </div>
    </div>

  </po-tab>
  <po-tab p-label="Propostas Vencedoras">

  </po-tab>
</po-tabs>

<po-divider></po-divider>

<po-modal #modalCotacoes p-title="Cotações Fornecedor XPTO" p-size="xl">
  <app-card-cotacao></app-card-cotacao>
</po-modal>

<po-modal #modalPropostasProdutos p-title="Cotações Produto XPTO" p-size="xl">
  <app-card-propostas-produtos></app-card-propostas-produtos>
</po-modal>