<po-list-view
    p-property-title="name"
    [p-items]="dados">
    <ng-template p-list-view-content-template let-item>
        <div class="po-row">
            <div class="po-md-12">
                <div class="po-row">
                    <po-info class="po-md-2" p-label="Data Solicitação"
                        [p-value]="item.dataSolic"></po-info>
                    <po-info class="po-md-2" p-label="Nº SC"
                        [p-value]="item.numSc"></po-info>
                    <po-info class="po-md-2" p-label="Nº Cotação"
                        [p-value]="item.numCot"></po-info>
                    <po-info class="po-md-2" p-label="Filial"
                        [p-value]="item.filial"></po-info>
                    <po-info class="po-md-2" p-label="Validade"
                        [p-value]="item.validadeProposta"></po-info>
                </div>
            </div>
        </div>

        <po-divider></po-divider>

        <div class="po-row">
            <div class="po-md-10">
                <po-table [p-items]="itensCotacao" [p-columns]="columsItens"
                    p-hide-columns-manager="true"
                    p-container="border"></po-table>
            </div>
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <div class="po-row">
                    <po-widget class="po-lg-12 po-mt-12"
                        p-title="Total Itens" [p-height]="200">
                        <div class="po-font-subtitle po-text-center">4</div>
                        <div class="po-text-center">Last updated at 08:20</div>
                    </po-widget>
                </div>
            </div>
        </div>

        <po-divider></po-divider>

        <div class="po-row">
            <div class="po-md-10">
                <po-widget>
                    <po-table [p-items]="itensFornecedores"
                        [p-columns]="columsFornecedores"
                        p-hide-columns-manager="true"
                        p-container="border" [p-actions]="actions"
                        p-actions-right="true"
                        [p-selectable]="false"></po-table>
                </po-widget>
            </div>
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <div class="po-row">
                    <po-widget class="po-lg-12 po-mt-12"
                        p-title="Total Fornecedores" [p-height]="200">
                        <div class="po-font-subtitle po-text-center">2</div>
                        <div class="po-text-center">Last updated at 08:20</div>
                    </po-widget>
                </div>
            </div>
        </div>
        <div class="po-row">
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Bloquear Novos Participantes"
                    p-kind="primary"> </po-button>
            </div>
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Parecer Técnico" p-icon="ph ph-hard-hat"
                    (p-click)="parecerTecnico()">
                </po-button>
            </div>
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button (p-click)="editCotacao()" p-label="Alterar Data de Validade" p-icon="ph ph-calendar">
                </po-button>
            </div>
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Notificar Fornecedores" p-icon="ph ph-notification">
                </po-button>
            </div>
            <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Exportar Dados" p-icon="ph ph-microsoft-excel-logo">
                </po-button>
            </div>
        </div>
    </ng-template>
</po-list-view>

<po-modal #modalCotacoes p-title="Cotações Fornecedor XPTO" p-size="xl">
    <app-card-cotacao [controleCotacao]="controleCotacao"></app-card-cotacao>

    <po-modal-footer>
        <po-button p-label="Ver Solicitação da Compra" p-icon="ph ph-eye">
        </po-button>
        <po-button p-label="Exportar" p-kind="primary"
            p-icon="ph ph-microsoft-excel-logo">
        </po-button>
    </po-modal-footer>
</po-modal>

<po-modal #modalParecer p-title="Definir Fornecedores para Parecer Técnico"
    p-size="xl">
    <po-table [p-items]="itensFornecedores"
        [p-columns]="columsFornecedores"
        p-hide-columns-manager="true"
        p-container="border"
        [p-selectable]="true"></po-table>

        <po-modal-footer>
            <po-button p-label="Enviar" p-kind="primary"
                p-icon="ph ph-check">
            </po-button>
        </po-modal-footer>
</po-modal>


<po-modal #modalEditCotacao p-title="Editando Cotação" p-size="md">
    <po-datepicker name="datepicker" p-label="Data de Validade"> </po-datepicker>
    <po-modal-footer [p-disabled-align]="false">
      <po-button p-kind="primary" p-label="Confirmar"> </po-button>
    </po-modal-footer>
  </po-modal>