<div class="po-row">
    <div class="po-row">
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Item"  p-disabled="true" p-icon="ph ph-crown" class="input"> </po-input>
        </div>
        <div class="po-xl-10 po-lg-10 po-md-10 po-sm-10">
            <po-input name="input" p-label="Produto/Serviço"  p-disabled="true" p-icon="ph ph-bag" class="input"> </po-input>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Unidade de Medida"  p-disabled="true" p-icon="ph ph-article-medium" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Conta Desp ADM"  p-disabled="true" p-icon="ph ph-bank" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Conta Desp BAS"  p-disabled="true" p-icon="ph ph-bank" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Conta Imobilizado"  p-disabled="true" p-icon="ph ph-bank" class="input"> </po-input>
        </div>
        <div class="po-xl-4 po-lg-4 po-md-4 po-sm-4">
            <po-input name="input" p-label="Grupo de Produto/Serviço"  p-disabled="true" p-icon="ph ph-dropbox-logo" class="input"> </po-input>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Data de Emissão"  p-disabled="true" p-icon="ph ph-calendar" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Data de Necessidade"  p-disabled="true" p-icon="ph ph-calendar" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Quantidade"  p-disabled="true" p-icon="ph ph-octagon" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Preço Unit. Estimado"  p-disabled="true" p-icon="ph ph-currency-dollar" class="input"> </po-input>
        </div>
        <div class="po-xl-2 po-lg-2 po-md-2 po-sm-2">
            <po-input name="input" p-label="Vlr. Total Estimado"  p-disabled="true" p-icon="ph ph-currency-dollar" class="input"> </po-input>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <po-textarea name="textarea" p-label="Observação" [p-disabled]="true"> </po-textarea>
        </div>
    </div>
</div>

<po-divider></po-divider>