<po-list-view
    p-property-title="name"
    [p-items]="dados">
    <ng-template p-list-view-content-template let-item>
        <div class="po-row">

            <div class="po-md-12">
                <div class="po-row">
                    <po-info class="po-md-2" p-label="Data Proposta"
                        [p-value]="item.dataProposta"></po-info>
                    <po-info class="po-md-2" p-label="Validade"
                        [p-value]="item.validadeProposta"></po-info>
                    <po-info class="po-md-2" p-label="Valor do Frete Total"
                        [p-value]="item.valorFrete"></po-info>
                    <po-info class="po-md-2" p-label="Saving"
                        [p-value]="item.saving"></po-info>
                    <po-info class="po-md-2" p-label="Tipo Frete"
                        [p-value]="item.tipoFrete"></po-info>
                    <po-info class="po-md-2" p-label="Cond. Pgto"
                        [p-value]="item.condPgto"></po-info>
                </div>
                <div class="po-row">
                    <po-info class="po-md-10" p-label="Observação Fornecedor"
                        [p-value]="item.observacao"></po-info>
                    <po-info class="po-md-2" p-label="Valor Total"
                        [p-value]="item.valTotal"></po-info>
                </div>
            </div>

            <div class="po-md-12">
                <po-divider></po-divider>
            </div>

            <div class="po-md-12">
                <po-table [p-items]="itensCotacao" [p-columns]="columsItens"
                    p-hide-columns-manager="true"
                    p-container="border"></po-table>
            </div>
        </div>

        <po-divider></po-divider>

        <div class="po-row">
            <div class="po-lg-2 po-xl-2 po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Validar Proposta" p-icon="ph ph-check"
                    p-kind="primary" (p-click)="validarProposta()"> </po-button>
            </div>

            <div class="po-lg-2 po-xl-2 po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Negociar" p-icon="ph ph-x" (p-click)="enviarPNegociacao()"></po-button>
            </div>

            <div class="po-lg-2 po-xl-2 po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Verificar Parecer Técnico"
                    p-icon="ph ph-hard-hat"></po-button>
            </div>

            <div class="po-lg-2 po-xl-2 po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Ver Anexos" p-icon="ph ph-eye"></po-button>
            </div>

            <div class="po-lg-2 po-xl-2 po-xl-2 po-lg-2 po-md-2 po-sm-2">
                <po-button p-label="Ver Cotação/Negociação"
                    p-icon="ph ph-eye"></po-button>
            </div>
        </div>

    </ng-template>
</po-list-view>